html,
body {
  width: 320px;
  margin: 0;
  padding: 0;
  background-color: @white;
  color: @grey;
  font-size: 14px;
  line-height: 21px;
  font-family: 'PT Sans', Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
}
h1,
h2 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @black;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
label {
  line-height: 26px;
}
